
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 12px;
    background-color: #f8f8f8;
}


header {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}


.geral {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 2em 0;
}


.fotos {
    flex: 1;
    margin-right: 1em;
}

.fotos img {
    display: block;
    max-width: 100%; 
    height: auto; 
    margin-bottom: 1em;
    border: 2px solid #ccc;
    border-radius: 8px;
}


.videos {
    flex: 1;
}

.videos video {
    width: 50%; 
    height: auto;
    margin-bottom: 1em;
    border: 2px solid #ccc;
    border-radius: 8px;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    width: 100%;
}
